body {
    font-family: Arial, sans-serif;
    background-image: url('https://images5.alphacoders.com/432/432769.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

h1 {
    text-align: center;
    color: #fff;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.status {
    margin-top: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}
.container a{
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
}